.navbar-brand {
  background-color: lightseagreen;
  color: blue;
}

#submit {
  float: right;
  background-color: lightseagreen;
}

.navbar-dark {
  padding-left: 25px;
  width: 100%;
}

#delBtn {
  border-radius: 10px;
}
.btn {
  background-color: lightseagreen;
  color: blue;
}
